.banner_row {
    border-radius: 20px;
    position: relative;
    top: 40px;
    width: 31%;
    left: 30px;
}

.banner_row2 {
    border-radius: 20px;
    position: relative;
    top: 40px;
    width: 31%;
    left: 30px;
}

.banner_row1 {
    border-radius: 20px;
    position: relative;
    top: 70px;
    width: 95%;
}

.banner {
    position: relative;
    top: 15px;
}

.banner > h1 {
    font-size: 25px;
    position: relative;
    top: 40px;
    right: 512px;
}

.banner1 {
    position: relative;
    bottom: 105px;
    z-index: 1;
}

.banner1 > h1 {
    font-size: 25px;
    position: relative;
    bottom: 40px;
    right: 505px;
}

.image-banner {
    display: flex;
    gap: 15px;
}

.image-banner1 {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.home_rows {
    position: relative;
}

.home_row {
    display: flex;
    gap: 20px;
}

.home_row > a {
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-weight: 500;
    font-size: 12px;
    position: relative;
    left: 15px;
    top: 20px;
    white-space: nowrap;
}

.rows_Img {
    display: flex;
    gap: 100px;
}

.row_Img {
    width: 35px;
    position: relative;
    align-items: center;
    left: 66px;
    top: 20px;
}

.text1 {
    margin-left: 32px;
}

.text2 {
    margin-left: 34px;
}

.text3 {
    margin-left: 26px;
}

.text4 {
    margin-left: 38px;
}

.text5 {
    margin-left: 62px;
}

.text6 {
    margin-left: 40px;
}

.text7 {
    margin-left: 44px;
}

.text8 {
    margin-left: 64px;
}

.text9 {
    margin-left: 60px;
}

.row1{
    margin-top: 80px;
    position: relative;
    left: -10px;
}